<nav>
	<button class="btn" onclick="location.href='/'">Home</button>
	<button class="btn" onclick="location.href='/bands'">See Bands</button>
	<button class="btn" onclick="location.href='/bandsAdd'">Add Band</button>
</nav>
