<html lang="en">
	<head>
		<%- include('./partials/head.ejs') %>
		<link rel="stylesheet" href="/css/style.css" />
		<!-- Assuming you have a CSS file for styling -->
	</head>
	<body>
		<div class="main-container">
			<%- include('./partials/nav.ejs') %>
			<div class="content">
				<!-- Styling the message to match the bands page look -->
				<div class="delete-message">
					<h1>The band has been deleted.</h1>
					<p>You will be redirected shortly.</p>
				</div>
				<%- include('./partials/foot.ejs') %>
			</div>
		</div>
		<script>
			setTimeout(function () {
				window.location.href = '/bands'; // Adjust the path as needed
			}, 3000); // 3000 milliseconds = 3 seconds
		</script>
	</body>
</html>
