<html lang="en">
	<body>
		<div class="main-container">
			<!-- Include head and navigation partials for page consistency -->
			<%- include('./partials/head.ejs') %> <%- include('./partials/nav.ejs') %>
			<div class="content">
				<!-- Main page title -->
				<h1>Grunge Database</h1>

				<!-- Subtitle and introduction paragraph -->
				<h2>What's YOUR favourite album?</h2>
				<p>
					Welcome to the Grunge Database! <br />
					Here you can find information on your favourite grunge bands and
					albums. <br />You can also add, edit, and delete entries as needed.
				</p>

				<!-- Container for the slideshow -->
				<div>
					<div class="grunge-class slideshow-container">
						<!-- Individual slides for the slideshow -->
						<img
							class="slide"
							src="../images/grunge1.jpg"
							alt="Grunge 1"
							style="display: block"
						/>
						<img class="slide" src="../images/grunge2.jpg" alt="Grunge 2" />
						<img class="slide" src="../images/grunge3.jpg" alt="Grunge 3" />
						<!-- Add more images as needed -->
					</div>
				</div>
				<!-- Include footer partial for page consistency -->
				<%- include('./partials/foot.ejs') %>
			</div>
		</div>
		<script>
			// Script for handling the slideshow functionality
			let slideIndex = 0;
			showSlides();

			function showSlides() {
				let i;
				let slides = document.getElementsByClassName('slide');
				// Hide all slides
				for (i = 0; i < slides.length; i++) {
					slides[i].style.display = 'none';
				}
				// Increment slideIndex to show next slide
				slideIndex++;
				// Reset slideIndex to show first slide if it exceeds the number of slides
				if (slideIndex > slides.length) {
					slideIndex = 1;
				}
				// Display the current slide
				slides[slideIndex - 1].style.display = 'block';
				// Set timeout to show next slide after 4 seconds
				setTimeout(showSlides, 4000); // Change image every 4 seconds
			}
		</script>
	</body>
</html>
