<html lang="en">
	<body>
		<div class="main-container">
			<%- include('./partials/head.ejs') %> <%- include('./partials/nav.ejs') %>
			<div class="content">
				<h1>Grunge Database</h1>
				<h2>What's YOUR favourite album?</h2>
			</div>
		</div>
	</body>
	<%- include('./partials/foot.ejs') %>
</html>
