<html lang="en">
	<%- include('./partials/head.ejs') %>
	<body>
		<%- include('./partials/nav.ejs') %>
		<h1>List page</h1>
		<h2>Welcome to the list page.</h2>
	</body>
	<%- include('./partials/foot.ejs') %>
</html>
