body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f4f4f4;
}

form {
  max-width: 80%;
  margin: auto;
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.bands table {
  width: 100%;
  border-collapse: collapse;
}

.bands th, .bands td {
  border: 1px solid #ddd;
  padding: 8px;
}

.bands tr:nth-child(even){background-color: #f2f2f2;}

.bands tr:hover {background-color: #ddd;}